name: Linguagens mais usadas

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.languages.svg
          token: ${{ secrets.METRICS_TOKEN }}

          plugin_languages: yes
          plugin_languages_limit: 4
          plugin_languages_details: lines, bytes-size
          plugin_languages_sections: most-used
          plugin_languages_recent: yes
          plugin_languages_recent_days: 365
          plugin_languages_recent_load: 1000
